<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<div class="row">
	<div class="col-md-6">
		Przedsiębiorstwo Transporotowo-Handlowo-Usługowe "TRANS-MAR" Janusz Franciszek Kawula
		ul. Lniana 16/25, 70-777 Szczecin
		NIP PL 955-169-96-67, REGON 812685370
	</div>
	<div class="col-md-3">
		Miejscowość
	</div>
	<div class="col-md-3">
		DD/MM/RRRR
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="col-md-3">
			Szczecin
		</div>
		<div class="col-md-3">
			<%= @rate.date %>
		</div>
		<div class="col-md-3">
			Dowód wewnętrzny nr
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>