<div class="row">
	<div class="col-md-12">
		<table class="table table-hover col-md-12">
			<tr>
				<th>Lp.</th>
				<th>Nr rejestracyjny</th>
				<th colspan="3"></th>				
			</tr>
			<% @cars.each do |car| %>
			<tr>
				<td><%= car.id %></td>
				<td><%= car.car_number %></td>
				<td><%= link_to 'Pokaż', car %></td>
		        <td><%= link_to 'Edycja', edit_car_path(car) %></td>
		        <td><%= link_to 'Usuń', car, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-12 text-center">
		<%= link_to "Nowy samochod", new_car_path %>
	</div>
</div>

