<div class="row">
	<div class="col-md-12">
		<table class="table table-hover col-md-12">
			<tr>
				<th>Lp.</th>
				<th>Auto</th>
				<th>Data</th>
				<th>Waluta</th>
				<th>Wartość w walucie</th>
				<th>Tabela</th>
				<th>Data tabeli</th>
				<th>Kurs</th>
				<th>Wartość w zł</th>
				<th>Opłata drogowa</th>
				<th>Wydrukowane?</th>	
				<th> </th>	
			</tr>
			<% @rates.each do |rate| %>
			<tr>
				<td><%= rate.id %></td>
				<td><%= find_carname(rate.car_id) %></td>
				<td><%= rate.date %></td>
				<td><%= rate.currency %></td>
				<td><%= rate.value_currency %></td>
				<td><%= rate.table %></td>
				<td><%= rate.table_date %></td>
				<td><%= rate.converter %></td>
				<td><%= rate.value_pln %></td>
				<td><%= rate.payment %></td>
				<td><%= rate.printed %></td>				
				<td><%= link_to "Show", rate_path(rate.id) %> <%= link_to "PDF", rate_path(rate.id, format: :pdf) %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-md-12 text-center">
		<%= link_to "Nowy dowod", new_rate_path, style: "font-size: 20px;" %>
	</div>
</div>

