<%= wicked_pdf_stylesheet_link_tag "pdf.css" %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div class="table-responsive">
	<table class="table table-bordered text-center">
		<tbody>
			<tr>
				<td colspan="3">Pieczęć firmowa</td>
				<td>Miejscowość</td>
				<td>DD-MM-RRRR</td>
			</tr>
			<tr>
				<td rowspan="2" colspan="3" style="font-weight: bold;">
				Przedsiębiorstwo Transportowo-Handlowo-Usługowe<br>
				"TRANS-MAR"
				Janusz Franciszek Kawula<br>
				ul. Lniana 16/25, 70-777 Szczecin<br>
				NIP PL 955-169-96-67, REGON 812685370
				</td>
				<td>Szczecin
				</td>
				<td><%= @rate.date.strftime("%d-%m-%Y") %></td>
				
			</tr>
			<tr>
				<td valign="middle" style="display: inline; vertical-align: middle;">Dowód wewnętrzny</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4">Nazwa towaru, opłaty lub tytuł i cel wydatku</td>
				<td colspan="1">Wartość [zł]</td>
			</tr>
			<tr>
				<td colspan="4" class="text-left">
					<%= @rate.description %><br>
			<%= @rate.car.car_number %><br>
			<% if @rate.currency != "PLN" %>
				TAB. NR <%= @rate.table %> z dn. <%= @rate.table_date.strftime("%d-%m-%Y") %><br>
				<%= @rate.currency %> = <%= @rate.converter  %> PLN<br>
				<%= number_with_precision(@rate.value_currency, precision: 2) %> <%= @rate.currency %> x <%= @rate.converter %> PLN = <%= number_with_precision(@rate.value_pln, precision: 2) %> PLN
			<% else %>
				&nbsp;
				<br>&nbsp;
				<br>&nbsp;
			<% end %>
				</td>
				<td class="text-right">
					<%= number_with_precision(@rate.value_pln, precision: 2) %><br>&nbsp;
			<br>&nbsp;
			<br>&nbsp;
			<br>&nbsp;
				</td>
			</tr>
			<tr>
				<td>Słownie zł:</td>
				<td colspan="2" style="color: white;">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
				<td class="text-left">RAZEM</td>
				<td class="text-right"><%= number_with_precision(@rate.value_pln, precision: 2) %></td>
			</tr>
			<tr class="text-left">
				<td>&nbsp;<br>
				&nbsp;<br>
			&nbsp;<br>
			&nbsp;<br>
			Podpis</td>
				<td colspan="2">&nbsp;<br>
				&nbsp;<br>
			&nbsp;<br>
			&nbsp;<br>
			Zatwierdził</td>
				<td>&nbsp;<br>
				&nbsp;<br>&nbsp;<br>
			Pozycja <br>
			księgowania nr</td>
				<td>&nbsp;<br>
				&nbsp;<br>
			&nbsp;<br>
			&nbsp;<br>&nbsp;</td>
			</tr>
		</tbody>		
	</table>
</div>