<div class="row">
	<div class="col-md-12 text-center">
		<%= link_to "Nowa faktura", new_pln_invoice_path, class: 'btn btn-success' %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover col-md-12">
			<tr>
				<th>Nazwa</th>
				<th colspan="3"></th>				
			</tr>
			<% @pln_invoices.each do |pln_invoice| %>
			<tr>
				<td><%= pln_invoice.number %></td>
				<td><%= link_to 'Pokaż', pln_invoice %></td>
		        <td><%= link_to 'Edycja', edit_pln_invoice_path(pln_invoice) %></td>
		        <td><%= link_to 'Usuń', pln_invoice, method: :delete, data: { confirm: 'Czy na pewno chcesz usunac fakture?' } %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>


