<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Transport-app", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dowody wewn. <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Lista dowodow", rates_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Nowy dowod", new_rate_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Samochody<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Lista aut", cars_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Nowe auto", new_car_path %></li>
          </ul>
        </li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paliwo<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Tankowania", fuels_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finanse<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Przychody", statistics_url %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Wydatki", new_rate_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faktury<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Lista faktur", statistics_url %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Nowa faktura", new_rate_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Nowa faktura korekta", new_rate_path %></li>
          </ul>
        </li>
      

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Satystyki<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Statystyka dowodow", statistics_url %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Statystyka paliwa", new_rate_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Statystyka przychodów", new_rate_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Statystyka wydatków", new_rate_path %></li>
          </ul>
        </li>
        </ul>
      <!--
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>